.App{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  width: 20rem;
  padding: .75rem;
  border-radius: .5rem;
  outline: none;
  border: 1px solid #ccc;
}